<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} - %level - %logger{36} - %message%n%ex</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/application.log</file>
        <encoder>
            <pattern>%date{ISO8601} - [%level] - [%thread] %logger{36} - %message%n%ex</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>log/application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>2</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="stanza" level="WARN" />
    <logger name="org.http4s.blaze.channel.ServerChannelGroup" level="WARN" />
    <logger name="io.grhodes.mcm.server" level="INFO" />

    <root level="WARN">
        <appender-ref ref="FILE" />
    </root>

</configuration>
